%h1 NoteWall
%ol
  %li
    %a{:href => 'notes'}>Add Notes
  %li
    %a{:href => 'listallnotes'}>List Notes
  %li
    %a{:href => 'upload'}>Add Pictures
  %li
    %a{:href => 'listpictures'}>List Pictures
