%h1 NoteWall
%ul
  %li
    %a{:href => 'notes'}<
      %img{:src => '/assets/postit.jpg'}
  %li
    %a{:href => 'listallnotes'}<
      %img{:src => '/assets/postitread.jpg'}
  %li
    %a{:href => 'upload'}<
      %img{:src => '/assets/camera.png'}
  %li
    %a{:href => 'listpictures'}<
      %img{:src => '/assets/listpictures.png'}
