%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %title FunnyBackpack NoteWall
  %body
    %h1 NoteWall
    %h2 Notes in FunnyBackpack
    -@notes.each do |item|
      %h3= "#{Rack::Utils.escape_html(item.name)}"
      %p= "#{Rack::Utils.escape_html(item.message)}"
