%html
  %head
    %link(rel="stylesheet" href="css/styles.css")
    %title FunnyBackpack NoteWall
  %body
    %h1 NoteWall
    %h2 Notes in FunnyBackpack
    -@notes.each do |item|
      %h3= "#{item.name}"
      %p= "#{item.message}"
