%html
  %head
    %title FunnyBackpack NoteWall
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %h1 FunnyBackpack
    %h2 NoteWall
    %form{ :action => "", :method => "post"}
      %fieldset
        %ul
          %li
            %label{:for => "name"} Name:
            %input{:type => "text", :name => "name", :class => "text"}
          %li
            %label{:for => "message"} Message:
            %textarea{:name => "message"}
        %input{:type => "submit", :value => "Send", :class => "button"}
