%html
  %head
    %title NoteWall pictures
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %h1 FunnyBackpack Pictures
    -@pictures.each do |item|
      %img{:src => "/uploads/#{item}"}
