ul
{
  list-style-type: none;
  text-align: center;
}


body{
  background-color:rgb(0,0,0);
  background-image:url(../assets/cloud.jpg);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
}

p
{
  color: #000099;
}
h1
{
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  color: #ffff00;
  font-size: 50px;
  text-align: center;
}
h3
{
  font-weight:150;
  font-style: italic;
  color: #ff0000;
}
h2
{
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  color: #ff0000;
  font-size: 50px;
  text-align: center;
}
